.main {
    width: 100%;
}

.awesome {
    width: 1170px;
    height: 900px;
    margin: 0 auto;
}

.awesome__heading {
    padding: 100px 10px 10px 10px;
    height: 100px;
    font-family: Raleway;
    color: #000;
    text-align: center;
    font-size: 36px;
}

.awesome__line {
    width: 200px;
    border: 1px solid #EC7979;
    margin: 0 auto;
}


.awesome__subtitle {
    padding: 40px;
    height: 20px;
    font-family: Raleway;
    color: #86878B;
    text-align: center;
    font-size: 18px;
}

.basic-field {
    width: 100%;
    height: 589px;
}

.sections {
    display: inline-block;
    width: 387px;
    height: 589px;

}

.sections__logo {
    cursor: pointer;
    display: block;
    margin: 66px auto 0 auto;
}

.sections__btext {
    margin-top: 39px;
    font-family: Open Sans;
    color: #000;
    text-align: center;
    font-size: 24px;
}

.micro-field {
    margin: auto;
    width: 358px;
    height: 98px;
}

.micro-field__stext {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}