.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.awesome {
    width: 1170px;
    height: 775px;
    margin: 0 auto;
}


.basic-field {
    width: 100%;
    height: 589px;
}

.sections {
    display: inline-block;
    width: 387px;
    height: 589px;

}

.sections__logo {
    cursor: pointer;
    display: block;
    margin: 66px auto 0 auto;
}

.sections__btext {
    margin-top: 39px;
    font-family: Open Sans;
    color: #000;
    text-align: center;
    font-size: 24px;
}

.micro-field {
    margin: auto;
    width: 358px;
    height: 98px;
}

.micro-field__stext {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}