.axit {
    width: 100%;
    background-image: url("../img/art.png");
    height: 1026px;
}

.axit-black {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 1026px;
}

.axit-container {
    width: 1170px;
    height: 1026px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}


.axit-container-l {
    width: 700px;
    height: 550px;
}



.axit-container-r {
    width: 470px;
    height: 1026px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.axit-container-l-logotype {
    width: 165px;
    height: 55px;
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;

}



.axit-container-l-title {
    width: 670px;
    color: #FFF;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 55px;
}



.axit-container-l-line {
    width: 170px;
    border: 1px solid #ffffff;
    margin-bottom: 42px;
}



.axit-container-l-subtitle {
    width: 270px;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 42px;
}



.axit-container-l__button {
    display: flex;
    width: 270px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border: 1px solid #ffffff;
}

.axit-container-l__button_hover:hover {
    background-color: none;
    color: #EC7979;
    border: 1px solid #EC7979;
}



.axit-container-r-box {
    width: 470px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.axit-container-r-box-title {
    color: #333;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 367px;
    height: 90px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}



.axit-link__button {
    width: 470px;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
    background: #EC7979;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.axit-link {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration: none;
}


.axit-link__button_hover:hover {
    display: flex;
    width: 470px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 0px 0px 10px 10px;
    background: #AB4949;
}




.input-box {
    height: 190px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.input-box__form {
    height: 40px;
    width: 370px;

}



input {
    width: 370px;
    height: 40px;
    color: #000000;
    outline: none;
    border-bottom: 1px solid #BDBDBD;
    font-size: 15px;
    font-family: Raleway;
}


p {
    color: #EC7979;
    margin: 0px 6px 0px 7px;
}



@media screen and (max-width:1200px) {

.axit{
    background-repeat: no-repeat;
    background-size: cover;
}
    .axit-container-l-logotype {
        display: none;
    }

    .axit-container-l {
        width: 450px;
        height: 1530px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 84px;
    }

    .axit-container-r {
        width: 450px;
        height: 600px;
    }

    .axit {
        width: 100%;
        height: 1100px;
    }

    .axit-container {
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: column;
    }

    .axit-black {
        width: 100%;
        height: 1100px;
    }

    .axit-container-l-title {
        text-align: center;
        width: 400px;
        height: 168px;
        color: #FFF;
        font-family: Raleway;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;

    }

    .axit-container-l-subtitle {
        width: 288px;
        height: 32px;
        font-size: 14px;
        text-align: center;
    }


    .axit-container-l-line {
        margin-top: 42px;
        width: 135px;
    }

    .axit-container-l__button{
        margin-bottom: 56px;
    }

}



@media screen and (max-width:509px) {


    .axit-container-r-box {
        width: 400px;

    }
    
    
.axit-link__button {
    width: 400px;

}
    }