.contacts {
    width: 100%;
    height: 722px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__container {
    width: 1170px;
    height: 622px;
    display: flex;
    flex-direction: column;

}



.contact__link-button_hover {
    line-height: 3;
    cursor: pointer;
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
}

.contact__link-button_hover:hover {
    background-color: white;
    color: #000;
    border: 1px solid #C6CBCD;
}


.input__container {
    height: 335px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}


.contacts__container-l {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contacts__container-r {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.contacts__container-l-ib {
    height: 200px;
    width: 487px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.l-input-box {
    height: 40px;
    width: 487px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





.width {
    width: 487px;
    height: 40px;
    color: #000000;
    outline: none;
    border-bottom: 1px solid #BDBDBD;
    font-size: 15px;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
}




.contacts__container-r-ib {
    height: 200px;
    width: 487px;
    display: flex;
justify-content: space-between;
flex-direction: column;
}


textarea{
    height: 200px;
    width: 487px;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
    color: #000000;
    outline: none;
    font-size: 15px;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
}