.design {
    position: relative;
    width: 100%;
    height: 442px;
    background-image: url("../img/image.png");
}


.design-black {
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 442px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.502);
}


.link {
    text-decoration: none;
}

.link__button {
    line-height: 3;
    cursor: pointer;
    width: 370px;
    height: 58px;
    background-color: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 73px;

}

.link__button_hover:hover {
    background-color: none;
    color: #EC7979;
    border: 1px solid #EC7979;
}




@media screen and (max-width:1200px){

    .design {
        width: 100%;
        height: 445px;
        margin: 0 auto;
    }


    .design-black {
        width:100%;
        height: 445px;
        margin: 0 auto;
    }
}