.head {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.head-container {
    width: 1170px;
    height: 76px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;

}

.head-container-l {
    width: 400px;
    height: 76px;
}


.head-container-r {
    width: 770px;
    height: 76px;
    margin-left: 68px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 75px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}


.navigation_hover:hover {
    border: 1px solid #ffffff;
}

.head-container-rm {
    width: 570px;
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}







@media screen and (max-width:1200px) {

    .head-container {
        width: 470px;
        height: 75px;
    }


    .head-container-r {
        width: 234px;
        height: 75px;
        background-color: aquamarine;
        display: flex;
        align-items: center;
    }

    .head-container-l {
        width: 234px;
        height: 75px;
    }

    .head-container-rm {
        display: none;
    }








}

