.price {
    width: 1170px;
    height: 900px;
    margin: 0 auto;
    background-color: #F5F5F5;
}

.background {
    width: 100%;
    background-color: #F5F5F5;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    width: 1170px;
    height: 630px;
}

.element {
    width: 370px;
    height: 510px;
    display: flex;
    flex-direction: column;
}

.element__block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 370px;
    height: 50px;
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid #F5F5F5;
    background: #FFF;
}

.name {
    border: 2px solid #F5F5F5;
    background-color: #333333;
    display: flex;
    width: 370px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.dollar {
    border: 2px solid #F5F5F5;
    background-color: #333333;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 370px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.free {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 50px;
    border: 2px solid #F5F5F5;
    background: #333;
    color: rgba(255, 255, 255, 0.50);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.element__mody_hover:hover {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
    margin-bottom: 50px;
    transition: margin-bottom 0.7s
} 